<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script src="/bower_components/angular-material/angular-material.min.js"></script>

<script src="/angular/app.js"></script>
<script src="/angular/controllers/index.js"></script>

<script src="/angular/services/dataManager.js"></script>
<script src="/angular/services/colorGenerator.js"></script>

<script src="/angular/factories/chartJs.js"></script>

<script src="/angular/directives/menu.js"></script>
<script src="/angular/directives/fileUploader.js"></script>
<script src="/angular/directives/graphView.js"></script>
<script src="/angular/directives/tableview.js"></script>
<script src="/angular/directives/viewHolder.js"></script>

<script src="/bower_components/chart.js/dist/Chart.min.js"></script>
<script src='/bower_components/angular-upload/angular-upload.min.js'></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>-->
</body>
</html>