<!DOCTYPE html>
<html lang="en" ng-app="dash">
<head>
    <meta charset="UTF-8">
    <title>Dash</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/angular-upload/src/directives/btnUpload.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <base href="/">
</head>
<body>


<!--process.env.PORT || 9000,-->

<!--// Server IP-->
<!--ip: process.env.IP || '0.0.0.0',-->