<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th ng-repeat="label in labels">{{label}}</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, dataItem) in tableFormattedData track by 'row'+key">
                <td ng-repeat="(itemIndex, item) in dataItem track by 'col'+itemIndex" ng-class="{selected: item.selected}">{{item.value}}</td>
                <!--<td ng-repeat="(itemIndex, item) in dataItem track by 'col'+itemIndex" >{{item}}</td>-->
            </tr>
        </tbody>
        <tr>
    </table>
</div>